<!DOCTYPE html>
<html class="theme-dark">
  <head>
    <title>Projects</title>
    <script
      src="https://kit.fontawesome.com/e94596872f.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
  </head>
  <body>
    <div>
      {% include "navbar.html" %}
    </div>
    <div>
        <div class="card">
            <div class="card-content">
              <p class="title">
                Virtual Pet Calendar
              </p>
              <p class="subtitle">Keep your Pet Alive</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/liMNlvFa7N8?si=tnqjeIDJuMi0XfH6" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span>
                  Check it out on
                  <a href="https://github.com/AnnaY6210/Virtual-Pet-Calendar" 
                  target="_blank" rel="noopener noreferrer"
                    >Github</a
                  >
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  Video Demo
                  <a href="https://github.com/AnnaY6210/Virtual-Pet-Calendar" 
                  target="_blank" rel="noopener noreferrer"
                    >Github</a
                  >
                </span>
              </p>
            </footer>
          </div>
          <div class="card">
            <div class="card-content">
              <p class="title">
                Recipe Wizard
              </p>
              <p class="subtitle">Use the power of AI to come up with new recipes</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span>
                  Check it out on
                  <a href="https://github.com/CarsonWebster/RecipeWizard" 
                  target="_blank" rel="noopener noreferrer"
                    >Github</a
                  >
                </span>
              </p>
            </footer>
          </div>
          <div class="card">
            <div class="card-content">
              <p class="title">
                Virtual Pet Calendar
              </p>
              <p class="subtitle">Keep your Pet Alive</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span>
                  Check it out on
                  <a href="https://github.com/AnnaY6210/Virtual-Pet-Calendar" 
                  target="_blank" rel="noopener noreferrer"
                    >Github</a
                  >
                </span>
              </p>
            </footer>
          </div>
    </div>
  </body>
</html>