<!DOCTYPE html>
<html class="theme-dark">
  <head>
    <title>Projects</title>
    <script
      src="https://kit.fontawesome.com/e94596872f.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
  </head>
  <body>
    <div>
      {% include "navbar.html" %}
    </div>
    <form action="/add_task" method="POST">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="task"
              placeholder="Enter task"
              required
            />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary is-fullwidth" type="submit">
              Add
            </button>
          </div>
        </div>
      </form>
    <div>  
        {% for key, value in todo_list.items() %}
        <li></li>
        <div class="card">
            <div class="card-content">
              <p class="title">
                Task
              </p>
              <p class="subtitle">{{ value }}</p>
            </div>
            <footer class="card-footer">
                <form action="{{ url_for('remove_task', task=key) }}" method="post">
                    <button class="button is-danger" type="submit" >delete</button>
                </form>
            </footer>
          </div>
        {% endfor %}
    </div>
  </body>
</html>