<!DOCTYPE html>
<html class="theme-light">
  <head>
    <title>About Me</title>
    <script
      src="https://kit.fontawesome.com/e94596872f.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
  </head>
  <body>
    <div>
      {% include "navbar.html" %}
    </div>
    <div>
      <div class="grid">
        <div class="cell">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="/static/img/climbing.jpg"
                  alt="climbing"
                />
              </figure>
            </div>
            <div class="card-content">
          
              <div class="content">
                High Plains Drifter, Buttermilks - Bishop, CA
                <br />
              </div>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="/static/img/skiing.JPG"
                  alt="climbing"
                />
              </figure>
            </div>
            <div class="card-content">
          
              <div class="content">
                Sunshine Village, Banff, Canada
                <br />
              </div>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="/static/img/camping.JPG"
                  alt="climbing"
                />
              </figure>
            </div>
            <div class="card-content">
          
              <div class="content">
                Moab, Utah
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="section is-medium">
      <div class="content container is-fluid">
        <H1>Reading List</H1>
        <ol>
          <li>How to Know a Person - Arthur Brooks</li>
          <li>No More Mr. Nice Guy - Robert Glover</li>
          <li>Dopamine Nation - Anna Lembke</li>
          <li>All About Love - Bell Hooks</li>
          <li>Happiness Hypothesis - Jonathan Haidt</li>
          <li>The Four Agreements - Don Miguel Ruiz</li>
          <li>It Begins With You - Jillian Tureki</li>
        </ol>
      </div>
    </section>
      <div class="content container is-fluid">
        <h1>Podcast Hall of Fame</h1>
        <iframe style="border-radius:12px" 
          src="https://open.spotify.com/embed/episode/5ZXbNpYjz3NAS4PeVMxFgE?utm_source=generator" 
          width="100%" height="352" frameBorder="0" allowfullscreen="" 
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
        </iframe>
        <iframe style="border-radius:12px" 
          src="https://open.spotify.com/embed/episode/50vZMBl4VJj2RtykZQdVVW?utm_source=generator&theme=0" 
          width="100%" height="352" frameBorder="0" allowfullscreen="" 
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
        </iframe>
        <iframe style="border-radius:12px" 
          src="https://open.spotify.com/embed/episode/3SLviVTlj9FtwgU0S7IQEy?utm_source=generator" 
          width="100%" height="352" frameBorder="0" allowfullscreen="" 
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
        </iframe>
      </div>
      
      
      
  </body>
</html>