<!DOCTYPE html>
<html class="theme-light">
  <head>
    <title>Cole Nagao</title>
    <script
      src="https://kit.fontawesome.com/e94596872f.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
  </head>
  <body>
    <div>{% include "navbar.html" %}</div>
    <div>
      <section class="section is-medium">
        <h1 class="title is-size-2">Cole Nagao</h1>
        <br />
        <h2 class="subtitle">
          Hi! I'm Cole Nagao, As an aspiring software engineer, I am passionate
          about leveraging technology to create meaningful solutions that
          positively impact people's lives. With experience in Python, Vue, and
          TensorFlow, strive to build intelligent, user-centric applications
          that enhance productivity, well-being, and efficiency. My mission is
          to develop software that not only solves real-world problems but also
          fosters conscientiousness, innovation, and accessibility in the
          digital age.
        </h2>
        <h2 class="subtitle">
          Beyond coding, I enjoy spending time outdoors, rock climbing, and
          reading. Whether tackling a challenging boulder or diving into a
          thought-provoking book, I find inspiration in continuous growth,
          problem-solving, and the pursuit of knowledge.
        </h2>
      </section>
    </div>
    <div class="container" style="margin-top: 3rem">
      <div class="columns is-multiline">
        <div class="column is-half-desktop">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Virtual Pet Calendar</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <a href="/vpc"
                  ><img src="/static/img/catcalendar.png" alt="vpc"
                /></a>
              </figure>
            </div>
            <footer class="card-footer">
              <a href="/vpc" class="card-footer-item"
                ><i class="fas fa-search"></i>Read About it</a
              >
              <a
                href="https://github.com/AnnaY6210/Virtual-Pet-Calendar"
                class="card-footer-item"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="fas fa-code"></i>Check it out on Github</a
              >
            </footer>
          </div>
        </div>
        <div class="column is-half-desktop">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Recipe Wizard</span>
              </p>
            </header>
            <div class="card-content is-align-content-center">
              <figure class="image is-square">
                <a href="/recipe"
                  ><img
                    class="is-align-content-center"
                    src="/static/img/site_icon.png"
                    alt="vpc"
                /></a>
              </figure>
            </div>
            <footer class="card-footer">
              <a href="/recipe" class="card-footer-item"
                ><i class="fas fa-search"></i>Working Version Coming Soon!</a
              >
              <a
                href="https://github.com/CarsonWebster/RecipeWizard"
                class="card-footer-item"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="fas fa-code"></i>Check it out on Github</a
              >
            </footer>
          </div>
        </div>
        <div class="column is-half-desktop">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span
                  >Semi Supervised Transfer Learning for Image
                  Classification</span
                >
              </p>
            </header>
            <div class="card-content">
              <figure class="image is-square">
                <a href="/vpc"
                  ><img src="/static/img/tl.png" alt="Transfer Learning"
                /></a>
              </figure>
            </div>
            <footer class="card-footer">
              <a href="/vision" class="card-footer-item"
                ><i class="fas fa-code"></i>Check it out here</a
              >
            </footer>
          </div>
        </div>
        <div class="column is-half-desktop">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Pomodoro Timer</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image is-square">
                <a href="/vpc"
                  ><img src="/static/img/tl.png" alt="Transfer Learning"
                /></a>
              </figure>
            </div>
            <footer class="card-footer">
              <a href="/timer" class="card-footer-item"
                ><i class="fas fa-code"></i>Check it out here</a
              >
            </footer>
          </div>
        </div>
        <div class="column is-half-desktop">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>To Do List</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image is-square">
                <a href="/todo"
                  ><img src="/static/img/tl.png" alt="Transfer Learning"
                /></a>
              </figure>
            </div>
            <footer class="card-footer">
              <a href="/todo" class="card-footer-item"
                ><i class="fas fa-code"></i>Check it out here</a
              >
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
