<!DOCTYPE html>
<html class="theme-dark">
  <head>
    <title>Projects</title>
    <script
      src="https://kit.fontawesome.com/e94596872f.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
  </head>
  <body>
    <div>
      {% include "navbar.html" %}
    </div>
    <div class="has-background-link-light">
        <div class="card">
            <div class="card-content">
              <p class="title">
                Virtual Pet Calendar
              </p>
              <p class="subtitle">Keep your Pet Alive</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/liMNlvFa7N8?si=tnqjeIDJuMi0XfH6" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span>
                  Read about it
                  <a href="/vpc" 
                    >Here</a
                  >
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  Check it out on
                  <a href="https://github.com/AnnaY6210/Virtual-Pet-Calendar" 
                  target="_blank" rel="noopener noreferrer"
                    >Github</a
                  >
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  
                  <a href="https://github.com/AnnaY6210/Virtual-Pet-Calendar" 
                  target="_blank" rel="noopener noreferrer"
                    >Video Demo</a
                  >
                </span>
              </p>
            </footer>
          </div>
          <div class="card has-background-white-ter">
            <div class="card-content">
              <p class="title has-text-black-ter">
                Recipe Wizard
              </p>
              <p class="subtitle has-text-grey-dark">Use the power of AI to come up with new recipes</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span class="has-text-grey-dark">
                  Check it out on
                  <a href="https://github.com/CarsonWebster/RecipeWizard" 
                  target="_blank" rel="noopener noreferrer"
                    >Github</a
                  >
                </span>
              </p>
            </footer>
          </div>
          <div class="card">
            <div class="card-content">
              <p class="title">
                Semi Supervised Learning for Image Classification
              </p>
              <p class="subtitle">Transfer learning</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span>
                  Check it out on
                  <a href="/vision">here</a
                  >
                </span>
              </p>
            </footer>
          </div>
          <div class="card">
            <div class="card-content">
              <p class="title">
                To do list
              </p>
              <p class="subtitle">Basic type shi</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span>
                  Check it out on
                  <a href="/todo">here</a
                  >
                </span>
              </p>
            </footer>
          </div>
          <div class="card">
            <div class="card-content">
              <p class="title">
                Pomodoro Timer
              </p>
              <p class="subtitle">Just messin arounf</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span>
                  Check it out on
                  <a href="/timer">here</a
                  >
                </span>
              </p>
            </footer>
          </div>
    </div>
    
    <script>
      document.addEventListener('DOMContentLoaded', () => {
  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  function closeAllModals() {
    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
      closeModal($modal);
    });
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

  // Add a keyboard event to close all modals
  document.addEventListener('keydown', (event) => {
    if(event.key === "Escape") {
      closeAllModals();
    }
  });
});
    </script>
  </body>
</html>