<!DOCTYPE html>
<html class="theme-light">
  <head>
    <title>Projects</title>
    <script
      src="https://kit.fontawesome.com/e94596872f.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
  </head>
  <body>
    <div>{% include "navbar.html" %}</div>
    <section class="section is-small has-background-white-bis">
      <h1 class="title">Recipe Wizard</h1>
      <h2 class="subtitle">
        Recipe Wizard is your AI-powered kitchen assistant that helps you create
        delicious meals using the ingredients you already have. Simply enter a
        list of ingredients, and our smart recipe generator, powered by ChatGPT,
        will suggest creative and personalized recipes in seconds. Whether
        you're looking to reduce food waste, experiment with new flavors, or
        just make meal planning easier, Recipe Wizard turns your pantry into a
        source of endless culinary possibilities. Cooking has never been this
        simple, smart, and fun!
      </h2>
    </section>
    <section>
      <figure class="image">
        <img src="/static/img/soon.png" alt="" />
      </figure>
    </section>
    <section class="section is-small has-background-white-bis">
      <div class="content">
        <h1 class="title">Problem Space</h1>
        <p>
          In today’s fast-paced world, many people struggle with meal planning,
          food waste, and making the most of the ingredients they have on hand.
          Home cooks often find themselves with mismatched ingredients and no
          clear idea of what to cook, leading to unnecessary grocery trips or
          wasted food. Additionally, traditional recipe search methods can be
          time-consuming, requiring users to sift through multiple recipes that
          may not match their available ingredients.
        </p>
        <p>
          Recipe Wizard addresses these challenges by leveraging AI to generate
          creative, personalized recipes based on whatever ingredients users
          have. By providing instant, customized meal ideas, the app helps
          reduce food waste, save time, and inspire home cooks to try new dishes
          effortlessly.
        </p>
      </div>
    </section>
    <div class="grid">
      <div class="cell">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <h1 class="title">Team</h1>
              <p>5 Engineers</p>
              <p>
                Responsibilities: Prompt Engineering, Data handling, Front End
                Development
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="cell card">
        <div class="card-content">
          <div class="content">
            <p class="title">Technologies</p>
            <ul>
              <li>Bulma</li>
              <li>Vue.js</li>
              <li>Py4Web</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h1 class="title">Demo</h1>
      <div
        class="content"
        style="
          width: 100%;
          max-width: 70%;
          margin-left: auto;
          margin-right: auto;
        "
      >
        {{response | safe}}
      </div>
      <form
        action="/response"
        method="post"
        class="field"
        style="
          width: 100%;
          max-width: 70%;
          margin-left: auto;
          margin-right: auto;
        "
      >
        <button
          class="button is-primary is-fullwidth"
          type="submit"
          id="sendButton"
        >
          Generate Recipe
        </button>
      </form>
      <form
        action="/add_ingredient"
        method="POST"
        style="
          width: 100%;
          max-width: 70%;
          margin-left: auto;
          margin-right: auto;
        "
      >
        <div class="field">
          <label class="label">Pantry</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="task"
              placeholder="Enter ingredient"
              required
            />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary is-fullwidth" type="submit">
              Add
            </button>
          </div>
        </div>
      </form>
      <div
        style="
          width: 100%;
          max-width: 70%;
          margin-left: auto;
          margin-right: auto;
        "
      >
        {% for key, value in pantry.items() %}
        <li></li>
        <div class="card">
          <div class="card-content">
            <p class="subtitle">{{ value }}</p>
          </div>
          <footer class="card-footer">
            <form
              action="{{ url_for('remove_ingredient', ingredient=key) }}"
              method="post"
            >
              <button class="delete is-large" type="submit"></button>
            </form>
          </footer>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
