<!DOCTYPE html>
<html class="theme-light">
  <head>
    <title>Pomodoro</title>
    <script
      src="https://kit.fontawesome.com/e94596872f.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
  </head>
  <body>
    <div>{% include "navbar.html" %}</div>
    <div class="container">
      <p class="level-item title is-1">Pomodoro Timer</p>
      <div class="grid session-controls">
        <button class="cell container button is-link" id="work-session">
          Work Session
        </button>
        <button class="cell container button is-link" id="short-break">
          Short Break
        </button>
        <button class="cell container button is-link" id="long-break">
          Long Break
        </button>
      </div>
      <div class="level">
        <div class="level-item title is-2" id="timer">25:00</div>
      </div>
      <div class="grid controls level-item">
        <button class="cell button is-success" id="start">Start</button>
        <button class="cell button is-warning" id="pause">Pause</button>
        <button class="cell button is-danger" id="reset">Reset</button>
      </div>
      <div class="settings">
        <h2>Settings</h2>
        <label for="work-time">Work Time (minutes):</label>
        <input type="number" id="work-time" min="1" value="25" />

        <label for="short-break-time">Short Break (minutes):</label>
        <input type="number" id="short-break-time" min="1" value="5" />

        <label for="long-break-time">Long Break (minutes):</label>
        <input type="number" id="long-break-time" min="1" value="15" />

        <button class="apply-settings" id="apply-settings">
          Apply Settings
        </button>
      </div>
    </div>
    <script src="../static/timer.js"></script>
  </body>
</html>
